body {
  background-color: #0B3861;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.item1 {
  grid-column: 1/3;
  
}
.item8 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.item9 {
  grid-column: 3;
  grid-row: 3/5;
}
.a{
  grid-row: 3;
  grid-column: 2;
}
.b{
  grid-column: 4;
  grid-row: 1;
}
.border{
  border: 10px solid #00FFFF;
}
.border-box{
  box-sizing: border-box;
}
.box{
  width: 200px;
  height: 200px;
  background-color: aliceblue;
}
.block{
  margin-top: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-container{
  margin: 5px 0px ;
  padding: 10px;
  border:#da3a9c;
  border-width: 10px;
  border-style: groove;
  /* text-decoration: underline; */
  font-size: 25px;
  font-weight: bold;
  font-family: "Times New Roman","標楷體";
  background-color: rgb(234, 241, 136);
}
.text-img{
  border: 5px dashed;
  border-radius: 30px;
  width: 30%;
  float: right;
}